<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="account1" class="test.Account"/>

    <bean id="account2" class="test.Account">
        <property name="id" value="1"/>
        <property name="ownername" value="tuannguyen"/>
        <property name="balance" value="2000"/>
    </bean>
</beans>